body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.setosa {
	fill: #7fc97f;
	opacity: 50%;

}

.versicolor {
	fill: #fdc086;
	opacity: 50%;
}

.virginica {
	fill: #beaed4;
	opacity: 50%;
}
